<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %c:%L - %msg%n"/>
        </Console>
        <File name="File" fileName="./log/log4j2.log" append="true">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%-5level] %c:%L - %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="Scoreboard" level="info" additivity="true">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="Match" level="info" additivity="true">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="TeamValidator" level="info" additivity="true">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>